<h2>About</h2>

<div class="card z-depth-3">
  <div class="card-content white-text">
    <div class="row">
      
      <div class="col m6">
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/FCBarcelona?ref_src=twsrc%5Etfw">Tweets by FCBarcelona</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      
      <div class="col m6">
        <div class="card-panel teal lighten-1 z-depth-1">
          <div class="row">
            <div class="col m3">
              <%= image_tag "leo.jpg", class: "circle responsive-img" %>
            </div>
            <div class="col m9">
              <span class="white-text">
                <h5>Rufunt</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>