<br/>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <%= link_to course do %>
            <%= image_tag "courses/#{course.image}" %>
          <% end %>
        </div>
        <div class="class-content">
          <span class="card-title"><%= course.title %></span>
            <% (1..course.star_number).each do %>
              <i class="material-icons green-text">grade</i>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>