<div>
  <iframe width="100%" height="360" src="https://www.youtube.com/embed/MnEyZUlG6lI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div>
  <iframe width="100%" height="360" src="https://youtu.be/G2eFjCnFgUE?list=PLU12uITxBEPF2bj9LH2v1EYW2KmBWW4AN" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

